.keybind {
  .binding {
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 5px solid;

    border-color: rgba($secondary, $alpha: 0.8);

    font-size: 0.8rem;
    min-width: 0px;

    &:hover {
      border: 1px solid $secondary;
      transform: unset;
    }
  }
}
